In [4]:
import pandas as pd
import numpy as np
movies = pd.read_csv('tmdb_5000_movies.csv')
movies.head(5)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [20]:
movie_df = movies[['id' , 'title' , 'genres' , 'vote_average' , 'vote_count' , 'popularity' , 'keywords' , 'overview' ]]
movie_df.head(3)

,id,title,genres,vote_average,vote_count,popularity,keywords,overview
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",7.2,11800,150.437577,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",6.9,4500,139.082615,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",6.3,4466,107.376788,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bond’s past sends him o...

In [8]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            4803 non-null   int64
 1   title         4803 non-null   object
 2   genres        4803 non-null   object
 3   vote_average  4803 non-null   float64
 4   vote_count    4803 non-null   int64
 5   popularity    4803 non-null   float64
 6   keywords      4803 non-null   object
 7   overview      4800 non-null   object
dtypes: float64(2), int64(2), object(4)
memory usage: 300.3+ KB

**literal_eval 을 사용해서 딕셔너리 형태로 바꾸기**

In [21]:
from ast import literal_eval
movie_df['genres'] = movie_df['genres'].apply(literal_eval)
movie_df['keywords'] = movie_df['keywords'].apply(literal_eval)
movie_df['genres']

C:\Users\kyr76\AppData\Local\Temp\ipykernel_36612\3135515018.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_df['genres'] = movie_df['genres'].apply(literal_eval)
C:\Users\kyr76\AppData\Local\Temp\ipykernel_36612\3135515018.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_df['keywords'] = movie_df['keywords'].apply(literal_eval)

0       [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
1       [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2       [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
3       [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
4       [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
                              ...
4798    [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
4799    [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
4800    [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4801                                                   []
4802                  [{'id': 99, 'name': 'Documentary'}]
Name: genres, Length: 4803, dtype: object

In [22]:
movie_df['genres'] = movie_df['genres'].apply(lambda x : [y['name'] for y in x])
movie_df['keywords'] = movie_df['keywords'].apply(lambda x : [y['name'] for y in x])
movie_df[['genres' , 'keywords']]

C:\Users\kyr76\AppData\Local\Temp\ipykernel_36612\396340.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_df['genres'] = movie_df['genres'].apply(lambda x : [y['name'] for y in x])
C:\Users\kyr76\AppData\Local\Temp\ipykernel_36612\396340.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_df['keywords'] = movie_df['keywords'].apply(lambda x : [y['name'] for y in x])

,genres,keywords
0,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon..."
1,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ..."
2,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi..."
3,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i..."
4,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel..."
...,...,...
4798,"[Action, Crime, Thriller]","[united states–mexico barrier, legs, arms, pap..."
4799,"[Comedy, Romance]",[]
4800,"[Comedy, Drama, Romance, TV Movie]","[date, love at first sight, narration, investi..."
4801,[],[]
4802,[Documentary],"[obsession, camcorder, crush, dream girl]"

In [24]:
from sklearn.feature_extraction.text import CountVectorizer
movie_df['genres_literal'] = movie_df['genres'].apply(lambda x : (' ').join(x))
movie_df['genres_literal']

C:\Users\kyr76\AppData\Local\Temp\ipykernel_36612\1041128932.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_df['genres_literal'] = movie_df['genres'].apply(lambda x : (' ').join(x))

0       Action Adventure Fantasy Science Fiction
1                       Adventure Fantasy Action
2                         Action Adventure Crime
3                    Action Crime Drama Thriller
4               Action Adventure Science Fiction
                          ...
4798                       Action Crime Thriller
4799                              Comedy Romance
4800               Comedy Drama Romance TV Movie
4801
4802                                 Documentary
Name: genres_literal, Length: 4803, dtype: object

In [31]:
count_vect = CountVectorizer(min_df=0.0 , ngram_range = (1,2))
genre_mat = count_vect.fit_transform(movie_df['genres_literal'])
print(genre_mat.shape)

(4803, 276)

In [32]:
from sklearn.metrics.pairwise import cosine_similarity
genre_cos = cosine_similarity(genre_mat , genre_mat)

In [33]:
genre_cos_sort_index = genre_cos.argsort()[: , ::-1]
genre_cos_sort_index[1]

array([ 262,    1,  129, ..., 3069, 3067, 2401], dtype=int64)

In [57]:
def find_sim_movie(df , sort_index , title_name , top_n = 20):
    title_movie = df[df['title'] == title_name]
    title_index = title_movie.index.values
    similar_indexs = sort_index[title_index , :top_n]
    similar_indexs = similar_indexs.reshape(-1)
    return df.iloc[similar_indexs]

In [58]:
similar_df = find_sim_movie(movie_df , genre_cos_sort_index , 'The Godfather')
similar_df[['title' , 'vote_average']]

                                               title  vote_average
2731                          The Godfather: Part II           8.3
1243                                    Mean Streets           7.2
3636                                   Light Sleeper           5.7
1946  The Bad Lieutenant: Port of Call - New Orleans           6.0
2640         Things to Do in Denver When You're Dead           6.7
4065                                      Mi America           0.0
1847                                      GoodFellas           8.2
4217                                            Kids           6.8
883                              Catch Me If You Can           7.7
3866                                     City of God           8.1
3112                         Blood Done Sign My Name           6.0
4041                                 This Is England           7.4
588                  Wall Street: Money Never Sleeps           5.8
3337                                   The Godfather           8.4
3378                                      Auto Focus           6.1
281                                American Gangster           7.4
1663                     Once Upon a Time in America           8.2
1464                             Black Water Transit           0.0
1149                                 American Hustle           6.8
2839                                        Rounders           6.9

**하지만 장르 기반으로만 추천을 한다면 평점이 0.0과 같은 구린 영화를 추천하게 된다.**

In [48]:
movie_df[['title' , 'vote_average' , 'vote_count']].sort_values('vote_average' , ascending = False)[:10]

                         title  vote_average  vote_count
3519          Stiff Upper Lips          10.0           1
4247     Me You and Five Bucks          10.0           2
4045     Dancer, Texas Pop. 81          10.0           1
4662            Little Big Top          10.0           1
3992                 Sardaarji           9.5           2
2386            One Man's Hero           9.3           2
2970        There Goes My Baby           8.5           2
1881  The Shawshank Redemption           8.5        8205
2796     The Prisoner of Zenda           8.4          11
3337             The Godfather           8.4        5893

**그래서 평점을 가중 해줘서 결과에 반영하게 만들 것임**

In [50]:
C = movie_df['vote_average'].mean() #전체 영화의 평균 평점
m = movie_df['vote_count'].quantile(0.6) # 상위 60퍼센트 투표 횟수 평균
print("C :" , C)
print('m :' , m)

C : 6.092171559442016
m : 370.1999999999998

In [55]:
def weighted_vote_average(record):
    V = record['vote_count']
    R = record['vote_average']
    return ((V / (V + m) * R) + ((m / (m + V)) * C))

movie_df['weighted_vote'] = movie_df.apply(weighted_vote_average , axis = 1)

C:\Users\kyr76\AppData\Local\Temp\ipykernel_36612\2555012591.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_df['weighted_vote'] = movie_df.apply(weighted_vote_average , axis = 1)

In [56]:
movie_df[['title' , 'vote_average' , 'vote_count' , 'weighted_vote']].sort_values('weighted_vote' , ascending = False)[:10]

                         title  vote_average  vote_count  weighted_vote
1881  The Shawshank Redemption           8.5        8205       8.396052
3337             The Godfather           8.4        5893       8.263591
662                 Fight Club           8.3        9413       8.216455
3232              Pulp Fiction           8.3        8428       8.207102
65             The Dark Knight           8.2       12002       8.136930
1818          Schindler's List           8.3        4329       8.126069
3865                  Whiplash           8.3        4254       8.123248
809               Forrest Gump           8.2        7927       8.105954
2294             Spirited Away           8.3        3840       8.105867
2731    The Godfather: Part II           8.3        3338       8.079586

In [60]:
similar_df[['title' , 'vote_average' , 'vote_count' , 'weighted_vote']].sort_values('weighted_vote' , ascending = False)

,title,vote_average,vote_count,weighted_vote
3337,The Godfather,8.4,5893,8.263591
2731,The Godfather: Part II,8.3,3338,8.079586
1847,GoodFellas,8.2,3128,7.976937
3866,City of God,8.1,1814,7.759693
1663,Once Upon a Time in America,8.2,1069,7.657811
883,Catch Me If You Can,7.7,3795,7.557097
281,American Gangster,7.4,1502,7.141396
4041,This Is England,7.4,363,6.739664
1149,American Hustle,6.8,2807,6.717525
1243,Mean Streets,7.2,345,6.626569
2839,Rounders,6.9,439,6.530427
4217,Kids,6.8,279,6.396368
2640,Things to Do in Denver When You're Dead,6.7,85,6.205672
3378,Auto Focus,6.1,56,6.093200
4065,Mi America,0.0,0,6.092172
1464,Black Water Transit,0.0,0,6.092172
3112,Blood Done Sign My Name,6.0,5,6.090943
3636,Light Sleeper,5.7,15,6.076900
1946,The Bad Lieutenant: Port of Call - New Orleans,6.0,326,6.049012
588,Wall Street: Money Never Sleeps,5.8,493,5.925303